<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 namespace: 名称空间
 id：唯一标识
 resultType：返回值类型
 #{id}：从传递过来的参数中取出id的值
-->
<mapper namespace="com.myself.mybatis.mapper.DeptMapper">
    <sql id="selectDept">
        dept.id,dept.dept_name,dept.dept_desc,dept.create_time,dept.dept_no
    </sql>
    <sql id="insertDept">
        dept.dept_name,dept.dept_desc,dept.create_time,dept.dept_no
    </sql>

    <select id="selectDept" resultType="dept">
        select <include refid="selectDept"></include> from ${deptTableName} where id = #{id}
    </select>
    <select id="selectDeptAllList" resultType="dept">
        select <include refid="selectDept"></include> from ${deptTableName} limit 10
    </select>
    <insert id="insertDept" parameterType="dept">
        insert tbl_dept(<include refid="insertDept"></include>) values(#{deptName},#{deptDesc},#{createTime},#{deptNo})
    </insert>
    <update id="updateDept" parameterType="emp">
        update tbl_employee set dept_name=#{deptName},dept_desc=#{deptDesc},create_time=#{createTime},#{deptNo} where id = #{id}
    </update>
    <delete id="deleteDept" parameterType="int">
        delete from tbl_dept
        <if test="id != null">
            where id = #{id}
        </if>
    </delete>

    <insert id="insertDeptList">
        insert tbl_dept(<include refid="insertDept"></include>) values
        <foreach collection="list" item="deptItem" separator=",">
          (#{deptItem.deptName},#{deptItem.deptDesc},#{deptItem.createTime},#{deptItem.deptNo})
        </foreach>
    </insert>
    
    <select id="selectAllDeptWithEmp" resultMap="deptResultMap">
        select <include refid="selectDept"></include>,<include refid="com.myself.mybatis.mapper.EmployeeMapper.selectEmp"></include> from ${deptTableName} join
          ${empTableName} on dept.dept_no = emp.dept_no
    </select>
    <resultMap id="deptResultMap" type="dept">
        <id column="id" property="id" javaType="int"></id>
        <result column="dept_name" property="deptName"></result>
        <result column="dept_desc" property="deptDesc"></result>
        <result column="create_time" property="createTime"></result>
        <result column="dept_no" property="deptNo"></result>
        <collection property="employees" ofType="emp">
            <id column="id" property="id"></id>
            <result column="last_name" property="lastName"></result>
            <result column="email" property="email"></result>
            <result column="gender" property="gender"></result>
            <result column="dept_no" property="deptNo"></result>
        </collection>
    </resultMap>

</mapper>