<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 namespace: 名称空间
 id：唯一标识
 resultType：返回值类型
 #{id}：从传递过来的参数中取出id的值
-->
<mapper namespace="com.myself.mybatis.mapper.EmployeeMapper">
    <!--<resultMap id="empResultMap" type="emp">
       <id property="id" column="id"></id>
         <result property="gender" column="gender" typeHandler="com.myself.mybatis.typehandler.SexTypeHandler"></result>
         <result property="lastName" column="last_name"></result>
         <result property="email" column="email"></result>
    </resultMap>-->
    <select id="selectEmp" resultType="emp">
        select id,last_name,email,gender from tbl_employee where id = #{id}
    </select>
    <insert id="insertEmp" parameterType="emp">
        insert tbl_employee(last_name,email,gender) values(#{lastName},#{email},#{gender})
    </insert>
    <update id="updateEmp" parameterType="emp">
        update tbl_employee set last_name=#{lastName},email=#{email},gender=#{gender} where id = #{id}
    </update>
    <delete id="deleteEmp" parameterType="int">
        delete from tbl_employee where id = #{id}
    </delete>

    <insert id="insertEmpList">
        insert tbl_employee(last_name,email,gender) values
        <foreach collection="list" item="empItem" separator=",">
          (#{empItem.lastName},#{empItem.email},#{empItem.gender})
        </foreach>
    </insert>

</mapper>